# auto-createdpydantic==0.0.6
pydantic==2.8.1
web3==0.1.5
web3==2.5.1
web3==0.6.8
pydantic==0.0.2
pydantic==0.8.1
eth-abi==0.5.4
web3==0.8.9
aiohttp==0.0.9
aiohttp==0.2.8
requests==2.9.3
aiohttp==1.5.5
aiohttp==0.8.8
aiohttp==1.8.5
eth-abi==1.1.4
requests==2.1.8
eth-abi==0.1.1
web3==0.3.9
